Build
mlibc

**/*.bin
**/*.dat
**/*.log
**/*.iso
**/*.tar
**/*.tar.gz

Targets/x86_64/xpinitrd/**

SystemRoot/Applications/
SystemRoot/Libraries/
SystemRoot/System/Libraries/
SystemRoot/Users/

.devcontainer
.vscode
.DS_Store

